* {
  box-sizing: border-box;
}

body {
  background: white;
}

img {
  display: flex;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background: lightgray;

  input {
    display: flex;
    border: none;
    width: 20em;
    height: 2em;
    margin: 2em 3em;
    align-items: center;
  }
}
